Repository cccortesc1/MISW4203_Grupo21_Vinilos, pull requests merged in 2023-04, with the labels that each got.

#13 Feature/hu05 consultar coleccionistas
  Vinyls/app/build.gradle
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/ui/screens/CollectorsScreen.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/ui/screens/OptionsScreen.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/utils/User.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/utils/Utils.kt
  Vinyls/app/src/main/res/values/strings.xml
Labels: collectors

#12 Feature/hu01 consultar albumes
  Vinyls/app/build.gradle
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/di/ApplicationModule.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/models/Album.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/network/NetworkServiceAdapter.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/repositories/AlbumsRepository.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/ui/screens/AlbumsScreen.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/viewmodels/AlbumViewModel.kt
  Vinyls/app/src/main/res/values/strings.xml
Labels: albums

#14 Feature/hu03 consultar musicos
  Vinyls/app/build.gradle
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/di/ApplicationModule.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/models/Artist.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/network/NetworkServiceAdapter.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/repositories/ArtistsRepository.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/ui/screens/ArtistsScreen.kt
  Vinyls/app/src/main/java/com/uniandes/miso/vinyls/viewmodels/ArtistViewModel.kt
  Vinyls/app/src/main/res/values/strings.xml
Labels: artists
